* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    width: 100%;
    height: 90px;
    z-index: 1;
    box-shadow: 0 0 20px 0 rgb(47, 47, 47);
}

.nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 25%;
}

.logo {
    flex: 1 1 auto;
    max-height: 40px;
    margin-top: 3px;
    margin-left: 20px;
    
}

a {
    margin: 0 15px;
    padding: 15px;
    color: #000;
    text-decoration: none;
    text-transform: lowercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14pt;
  }
  
nav a {
    height: 80px;
    letter-spacing: 1px;
    transition: all 400ms ease;
  }
  
nav a:hover {
    color: #4b7d50;
    font-size: 20px;
  }

.footer {
    width: 100%;
    background-color: rgb(32, 61, 38);
    color: #fff;
    margin-top: auto;
  }

.footer .container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }

.footer .container .footer-col figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.footer .container .footer-col figure img {
    width: 250px;
    margin-top: 5px;
  }

.footer .container .footer-col h2 {
    margin-bottom: 25px;
    font-family: "Montserrat", sans-serif;
    text-transform: lowercase;
    font-size: 20px;
    letter-spacing: 1px;
  }

.footer .container .footer-col ul {
    margin-bottom: 10px;
    list-style-type: none;
    line-height: 1.8;
}

.footer .container .footer-col ul li a {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: smaller;
    font-weight: 400;
}

.footer .container .footer-col .socialmedia a {
    display: inline-block;
    text-decoration: none; 
    width: 50px;   
    height: 50px;
    color: rgb(32, 61, 38);
    margin-right: 15px;
    margin-left: 0;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    transition: all 400ms ease;
    font-size: larger;
}

.footer .container .footer-col .socialmedia a:hover {
    color:#fff;
    background-color: #4b7d50;
}

.footer .copyright {
    background-color: #4b7d50;
    padding: 10px 10px;
    text-align: center;
    color: #e5e5e5;
    font-family: "Montserrat", sans-serif;
}
















*{
  box-sizing: border-box;

}

body{
    display: flex;
    min-height: 100vh;
    

}

.container-slider {
    width: 100%;
   /* max-width: 900px;*/
    margin: auto;
    overflow: hidden;  
    /*box-shadow:0 15px 50px #000;*/
    position: relative;
    margin-top: 90px;
}

.slider{
    display: flex;
    height: 400px;
    width: 400%;
    margin-left: -100%;
    
}

.slider__section{
    width: 50%;

}
.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;





}
.slider__btn{
    position:absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 
    0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    

}

.slider__btn:hover{
    background: #fff;




}

.slider__btn--left{
    left: 10px;


}


.slider__btn--right{
    right: 10px;


}


















